server:
  port: 8071

spring:
  application:
    name: "configserver"
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          # Adding the trailing slash is important
          search-locations: "classpath:/config/"