server:
  port: 8071

spring:
  application:
    name: "configserver"
  profiles:
#    active: native profile ony works for local hosted files
    active: git
  cloud:
    config:
      server:
#        native:
          # Adding the trailing slash is important
#          search-locations: "classpath:/config/"
#          search-locations: "file:///D:/Code/Java/Sp ringBoot/config-repo/"
        git:
          uri: "https://github.com/ThembaTman0/Bankwave-config-repo.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"

# TODO: Fix pom to correctly use the env file containing the encrypt key
encrypt:
  key: ${ENCRYPT_KEY}